<html>
<head>
<title> paragraph tag </title>
</head>
<body>
<p>
Sri Rama Navami, which commemorates the birth of Lord Rama, is observed on the ninth day of Shukla Paksha in the month of Chaitra. This auspicious occasion coincides with the final day of Chaitra Navratri festivities every year. Lord Rama, considered the seventh incarnation of Lord Vishnu, was born to King Dasharatha and Queen Kaushalya of Ayodhya. His life and times symbolize truth, duty, righteousness, and compassion, making him an embodiment of virtue. The festival celebrates the victory of good over evil
</p>
</html>

